body {
  text-align: center;
  background: #111;
}

#game {
  position: relative;
  width: 400px;
  height: 200px;
  background: #333;
  margin: 20px auto;
}

#box {
  position: absolute;
  width: 40px;
  height: 40px;
  background: red;
  bottom: 0;
}

